body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar li {
  font-weight: 500;
}

li {
  list-style-type: none;
}

.center {
  text-align: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.loginImg {
  height: auto;
  max-width: 400px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  padding: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 2rem;
}

.home-page {
    margin: 0 auto;
    padding: 20px;
}

.poll {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  margin: 30px;
  gap: 20px;
  border: 1px solid #ADA8BE;
  border-radius: 50px;
}

.poll-list{
  border: 1px solid #C6CAED;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

/* since bootstrap is installed this is not working now  */
/* .btn {
  border-radius: 5px;
  background-color: #ADA8BE ;
  border: 1px solid black;
} */

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.option {
  display: flex;
  flex-direction: column;
}

.leaderboard-table {
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  justify-content: space-between;
  padding: 20px;
  margin: 30px;
  gap: 30px;  
  overflow-x:auto;
}

.avatar-login{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.avatar-leaderboard {
  height: auto;
  width: 60px;
}

.form-poll {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  /* padding: 20px; */
  /* margin: 30px; */
    gap: 30px;  
}